*{
    box-sizing: border-box;
}
article{
    width: 100vw;
    display: block;
    height: 55vh;
    padding: 2em;
    margin-bottom:1em;

}
article ul{
    display: flex;
    flex-direction: column;
}
article ul li{
    background-color: #ffffff;
    padding:1em 1em;
    border-radius: 0.7em;
    
}
.quiz-wrapper button{
    padding:1em 6em;
    border: none;

    border-radius: 0.7em;

}
.quiz-wrapper-header{
    
}
/*hide default radio buttons*/
input[type="radio"]{
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    display: block;
    
}
li:hover{
    background-color:#000;
    color:#fff;
}

